<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.sirius.componentization">
      <component
            class="org.eclipse.cmf.occi.multicloud.vmware.monitoring.design.Activator"
            id="org.eclipse.cmf.occi.multicloud.vmware.monitoring.design"
            name="vmwaremonitoring">
      </component>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.cmf.occi.core.category.ID"
            name="OCCI Studio">
      </category>
      <wizard
            class="org.eclipse.cmf.occi.multicloud.vmware.monitoring.design.wizard.NewConfigurationWizard"
            icon="platform:/plugin/org.eclipse.cmf.occi.core.edit/icons/full/obj16/Configuration.gif"
            id="org.eclipse.cmf.occi.multicloud.vmware.monitoring.design.wizard.NewConfigurationWizard"
            name="vmware monitoring Configuration file">
      </wizard>
   </extension>
   <!-- Popup menu for creating a vmware configuration file. -->
</plugin>
